<!-- Optional additional links to insert in sidebar nav -->

<a class="category-link {% if page.url == '/category/download.html'%}active{% endif %}" href="https://visioneval.org/category/download.html">Download</a>
<a class="category-link {% if page.url == '/category/users.html'%}active{% endif %}" href="https://visioneval.org/category/users.html"> Information for Users </a>
<a class="category-link {% if page.url == '/category/developers.html'%}active{% endif %}" href="https://visioneval.org/category/developers.html"> Information for Developers </a>
<a class="category-link {% if page.url == '/about.html'%}active{% endif %}" href="https://visioneval.org/about.html"> About VisionEval </a>
</br>{{ page.url }}<br>




